In [5]:
import numpy as np
import os

In [2]:
IMAGE_DIR = './images/'
ANNOTATION_DIR = './annotations/json/'

In [6]:
images = [IMAGE_DIR + x for x in os.listdir(IMAGE_DIR)]
images.sort()

In [7]:
annotations = [ANNOTATION_DIR + x for x in os.listdir(ANNOTATION_DIR)]
annotations.sort()

In [21]:
kl=[]
for annotation in (annotations):
    l=(annotation.split("/")[-1].split(".")[0])
    with open(annotation) as f:
        data = json.load(f)
        
    for i in data:
        kl.append([l,i["name"],i["bndbox"]["xmin"],i["bndbox"]["ymin"],i["bndbox"]["xmax"],i["bndbox"]["ymax"]])

In [23]:
import pandas as pd
df=pd.DataFrame(kl,columns=["doc_id","name","xmin","ymin","xmax","ymax"])

In [24]:
df

     doc_id        name  xmin  ymin  xmax  ymax
0         0      height   953   406  1071   459
1         0         sex   950   369  1011   406
2         0    exp_date   609   416   811   454
3         0  issue_date   593   581   815   619
4         0     address   495   291   987   366
...     ...         ...   ...   ...   ...   ...
1572     99        name   230   185   317   221
1573     99     address   229   222   416   267
1574     99        eyes   274   266   300   284
1575     99         sex   266   278   284   300
1576     99      height   324   279   356   302

[1577 rows x 6 columns]